h1,
h3,
h6,
.facts,
.video,
.footer {
  text-align: center;
}

p,
h4 {
  text-align: left;
}

.court,
.paddles,
.balls {
  width: 70%;
}

iframe,
.title-image,
.game-play,
.court,
.paddles,
.balls {
  display: block;
  margin: 0 auto;
}

iframe,
.game-play {
  width: 90%;
}

iframe {
  height: 350px;
}

body {
  background-color: grey;
}

hr {
  color: black;
  margin: 40px 0 20px;
}

.title-image {
  width: 50%;
}

.game-play {
  margin-top: 15px;
  margin-bottom: 20px;
}

.facts ul {
  list-style: none;
}

.balls,
.paddles,
.court {
  margin-bottom: 20px;
}

.court {
  height: 245px;
  margin-top: 12px;
}

.rules {
  margin-bottom: 5px;
}

.the-paddles,
.the-pickleballs {
  padding-top: 50px;
}

.learn-more {
  color: black;
  text-decoration: none;
  font-size: 16px;
  transition: all 200ms ease-in-out;
}

.learn-more:hover {
  text-decoration: underline;
  color: black;
}

.subscribe {
  display: block;
  margin: 0 auto;
  border-radius: 40px;
  padding: 8px 14px 8px 14px;
  background-color: black;
  color: white;
  border: transparent;
  transition: all 200ms ease-in-out;
}

.subscribe:hover {
  background-color: rgb(30, 30, 30);
  color: white;
}

.footer {
  opacity: 0.7;
  font-size: 13px;
  color: white;
  margin-top: 5px;
}

.container {
  max-width: 900px;
  border: transparent;
  margin-top: 30px;
  border-radius: 10px;
  opacity: 0.7;
  background-color: white;
}
